<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <appSettings>
    <!-- Path to ~mods folder-->
    <add key="modsPath" value="D:\Laboratory\Documents\VSSources\SFVPakMods\SFVPakMods\bin\Debug\mods"/>
  </appSettings>  
</configuration>
